* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat";
  color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
  perspective: 800;
}


*::selection{
    background-color: #fff;
    color: #95C11E;
}

body::-webkit-scrollbar{
    display: block;
    width: 5px;
    /* background: linear-gradient(to right top, #b3e824, #7aa011, #02752e); */
    background: rgb(249,100,7);
    background: radial-gradient(circle, rgba(249,100,7,0.9136904761904762) 0%, rgba(57,53,50,1) 100%);
}

body::-webkit-scrollbar-thumb{
    background-color: #fff;
    border-radius: 50px;
}

#cursor {
  height: 20px;
  width: 20px;
  background-color: #ff6600;
  border-radius: 50%;
  position: fixed;
  z-index: 99;
}

#cursor-blur {
  height: 400px;
  width: 400px;
  background-color: #ff660021;
  border-radius: 50%;
  position: fixed;
  filter: blur(70px);
  z-index: 9;
}

#nav {
  /* margin-top: 5px; */
  height: 120px;
  width: 100%;
  /* margin-top: 5px; */
  /* background-color: red; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 100px;
  gap: 40px;
  position: fixed;
  z-index: 99; /*means our nav will alwat remains at top*/
}

#nav img {
  margin-top: 8px;
  height: 70px;
}

#nav h4 {
  font-weight: 600;
  font-size: 25px;
  padding-top: 20px;
}
#nav h4:hover {
    color:#ff6600;
}

video {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  position: fixed;
  z-index: -1;
  /* margin-top: -40px; */
}

#main {
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
}

#page1 {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  z-index: 10;
}

#page1 #arrow {
    height: 150px;
    width: 150px;
    background-color: transparent;
    border: 2px solid #ff6600;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: -2.5%;
    bottom: 0%;
    border-radius: 50%;
    transition: all ease 0.5s;
}

#page1 #arrow i {
    font-size: 50px;
    /* font-weight: 100; */
}

#page1 #arrow:hover {
    scale: 0.4;
    background-color: #ff6600;
}


#page1 h1 {
  font-size: 85px;
  font-weight: 900;
  position: relative;
}

#page1 h1::before {
  content: "DISCOVER. READ. THRIVE";
  position: absolute;
  color: #000;
  top: -5px;
  left: -5px;
  -webkit-text-stroke: 2px #ff6600a9;
  z-index: -1;
}
/* background: rgb(249,83,7);
background: linear-gradient(90deg, rgba(249,83,7,1) 0%, rgba(3,3,3,1) 100%); */

#page1 h2 {
  font-size: 23px;
  font-weight: 800;
  margin-top: 13px;
  margin-bottom: 20px;
}

#page1 p {
  font-size: 18px;
  font-weight: 400;
  width: 50%;
}

#page2 {
  min-height: 100vh;
  width: 100%;
  z-index: 10;
}

#scroller {
  /* background-color: red; */
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  z-index: 10;
}

#scroller::-webkit-scrollbar {
  display: none;
}

#scroller-in {
  display: inline-block;
  white-space: nowrap;
  animation-name: scroll;
  animation-duration: 35s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#scroller h4 {
  display: inline-block;
  font-size: 90px;
  font-weight: 900;
  margin-right: 10px;
  transition: all linear 0.5s;
  color: transparent;
  -webkit-text-stroke: 2px #f0f3e9;
}

#scroller h4:hover {
  color: #ff6600d3;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

#about-us {
  height: 40vh;
  width: 100%;
  /* background-color: aqua; */
  margin-top: 130px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 50px;
  position: relative;
  z-index: 10;
}

#about-us img {
  height: 150px;
  width: 150px;
  border-radius: 10px;
  object-fit: cover;
}
#about-us img:hover {
  box-shadow: 0 0 5px #ff6600, 0 0 15px #ff6600, 0 0 25px #ff6600, 0 0 100px #ff6600;
  transform: scale(1.1,1.1); 
  }



#about-us-in {
  width: 60%;
  text-align: center;
}

#about-us-in h3 {
  font-size: 35px;
  font-weight: 900;
  margin-bottom: 45px;
}

#about-us-in p {
  font-size: 16px;
  line-height: 30px;
}

#cards-container {
  /* background-color: red; */
  margin-top: 80px;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow-y: scroll; */
  gap: 60px;
  position: relative;
  z-index: 10;
}

#cards-container-second {
  /* background-color: red; */
  margin-top: 40px;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow-y: scroll; */
  gap: 60px;
  position: relative;
  z-index: 10;
}



.card {
  height: 95%;
  width: 45%;
  /* background-color: blue; */
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  transition: all ease 0.8s;
}


#card1 {
  background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-toptracer-1024x682.jpg?strip=all&lossy=1&sharp=1&ssl=1);
  /* opacity: 1; */
}

#card2 {
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/hero-4-1024x1024.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}

#card3 {
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-lessons-1024x682.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}
.card h3 {
    padding: 30px;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 800;
    padding-top: 430px;
    color: #fffafa;
    /* filter: brightness(50px); */
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: #95C11E;
    padding: 35px;
    padding-top: 90px;
    text-align: left;
    opacity: 0;
    transition: all ease 0.8s;
}

.overlay h4 {
    color: #000;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 900;
    padding-bottom: 35px;
    /* white-space: nowrap; */

}

.overlay p {
    color: #1b1919;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    
}
.card:hover .overlay{
    opacity: 1;
}

.card:hover {
    transform: rotate3d(-1,1,0,20deg);
    /* transition: all ease-in-out 1s; */

}

.card:hover h3{
    display: none;
}

#green-div {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
    z-index: 10;
    position: relative;
    background: linear-gradient(to right top, #b3e824, #95c11e, #039c3d);
}

#green-div h4{
    width: 51%;
    line-height: 50px;
    text-align: center;
    font-size: 21px;
    color: #000;
    font-weight: 900;
    text-transform: uppercase;
}

#green-div img{
    height: 100%;
    object-fit: cover;
    width: 160px;
}

#page3 {
    height: 100vh;
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#page3>p {
    font-size: 20px;
    font-weight: 900;
    width: 55%;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;
}

#page3 img {
    position: absolute;
    height: 50px;
}

#page3 #colon1{
    left: 15%;
    top: 22%;
}

#page3 #colon2{
    right: 15%;
    bottom: 30%;
}

#page4 {
    height: 30vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    position: relative;
}

.elem {
    height: 70%;
    width: 26%;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
}

.elem h2 {
    height: 100%;
    width: 100%;
    background-color: #92bb23;
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: 900;
    transition: all ease 0.4s;
    color: #000;
    justify-content: center;
    position: absolute;
    z-index: 10;
}

.elem img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.4s;
    scale: 1.1;
}

.elem:hover h2 {
    color: #fff;
    background-color: transparent;
}

.elem:hover img {
    scale: 1;
}

#page4 h1{
    font-size: 68px;
    position: absolute;
    top: -17%;
    font-weight: 900;
    color: #000;
    -webkit-text-stroke: 1px #f0e7e7;
}

#footer {
    height: 60vh;
    width: 100%;
    margin-top: 40px;
    background: linear-gradient(to right top, #b3e824 , #95c11e 40%, #039c3d);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    flex-wrap: wrap;
    /* flex-direction: column; */
    gap: 100px;
    padding: 0 80px;
    padding-bottom: 50px;
}

#footer>img {
    position: absolute;
    left: 0;
    height: 100%;
    z-index: 0;
}


#f1 img {
    height: 100px;
}

#ficon {
    padding-left: 20px;
    margin-top: 20px;
    font-size: 35px;
}

#f1, #f2, #f3, #f4 {
    width: fit-content;
    position: relative;
    z-index: 2;
    margin-top: 50px;
}

#f2 h3{
    font-size: 25px;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 800;
}

#f3 h3{
    font-size: 25px;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 800;
}


#f4 h4 {
    font-size: 15px;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
    line-height: 22px;
    /* margin-bottom: 8px; */
}

#f4 h4 b{
    color: #000;
    font-weight: 800;
}

#f5 p {
    font-size: 13px;
    font-weight: 600;
    color: #161515;
    padding-right: 60px;
}

#f6 p {
    font-size: 13px;
    font-weight: 600;
    color: #161515;
}

#f6 p i {
    font-size: 20px;
    /* padding-left: 10px; */
}
